
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-add {
  margin-bottom: 2em;
}

.navbar {
  margin: 1em auto;
}
.product-img {
  width: 4rem; 
  height: 4rem;
}
